.Secondcard {
  border: 1px solid #282727;
  background-color: rgb(255, 255, 164);
  padding: 12px;
  border-radius: 8px;
  max-width: 300px;
  margin-top: 20px;
}

.Secondcard__title {
  margin: 8px 0 4px;
  font-size: 1.25rem;
}

.Secondcard__subtitle {
  margin: 4px 0 8px;
  font-size: 1rem;
  color: #555;
}

.Secondcard__content {
  font-size: 0.95rem;
}
